.profile__field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.profile__input {
  width: 100%;
}

.profile__input__active {
  border-bottom-color: #f44336;
}

.profile__error {
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.1px;
  color: #ff4747;
  margin-bottom: 10px;
}
