.loginForm__form {
  width: 340px;
  height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 20px 31px 0 rgba(0, 43, 86, 0.15),
    0 0 20px 0 rgba(0, 43, 86, 0.04);
  background-color: #e9ecf0;
  border-radius: 6px;
}

.loginForm__title {
  color: rgba(32, 31, 31, 0.87);
  margin-bottom: 24px;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}

.loginForm__fieldInput {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginForm__field {
  margin-bottom: 20px;
}

.loginForm__input {
  height: 30px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #272b30;
  background-color: rgb(219, 228, 230);
  margin-bottom: 10px;
  padding-left: 10px;
}

.loginForm__error {
  text-align: center;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.1px;
  color: #ff4747;
}

.loginForm__button {
  width: 100px;
  height: 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: #7a8288;
  border-radius: 9px;
  font-size: 14px;
  line-height: 1.42857143;
}

.loginForm__button:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(#404448, #4e5458 40%, #585e62);
}
