.search {
  display: flex;
  align-items: center;
  height: 37px;
}
.searchSelect {
  opacity: 0;
  width: 0px;
  transition: 0.4s;
}

.searchSelect.active {
  opacity: 1;
  flex-grow: 1;
  margin-right: 10px;
}

.search__icon {
  cursor: pointer;
  width: 35px;
}
