.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./assets/taxi.jpg") no-repeat;
  background-size: cover;
  background-color: rgb(243, 239, 233);
}
