.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, #36383f, #202125);
  color: #b5b5b5;
}

.content {
  width: 500px;
  height: 400px;
}

.formContent {
  width: 300px;
}

.formAgent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control {
  width: 100px;
}

.data {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.title {
  font-size: 2em;
}

.error {
  color: red;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
}

.icon {
  width: 300px;
}
