.messageItem {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.text {
  margin: 0 10px 10px 0;
  list-style-type: none;
}

.delete {
  height: 16px;
  background-color: rgb(221, 88, 128);
  color: white;
  vertical-align: middle;
}
